div.wrapper {
  display: table;
  height: 100%;
  width: 100%;
}
div.wrapper div.main {
  display: table-row;
  height: 100%;
}
div.wrapper div.main aside {
  display: table-cell;
  min-width: 300px;
  width: 300px;
  background-color: pink;
}
div.wrapper div.main section {
  display: table-cell;
  width: 100%;
  background-color: green;
}
