div.wrapper { display: table; height: 100%; width: 100%; }

div.main { display: table-row; height: 100%; }

aside { display: table-cell; min-width: 300px; width: 300px; background-color: pink; }

section { display: table-cell; width: 100%; background-color: green; }
