.main
  margin-left: 340px
  transition: margin 300ms ease
  
  aside
    position: fixed
    top: 0
    left: 0
    bottom: 0
    width: 340px
    background-color: pink
    transition: left 300ms ease
  
    .grid
      margin: 63px 32px
      background-color: yellow
        
  section
    width: 100%
    background-color: green

    .grid
      max-width: 860px
      padding: 135px 40px 135px 140px
      background-color: blue
      
input[type='checkbox']
  position: absolute
  top: 10px
  left: 350px
  transition: left 300ms ease
  
  &:checked
    left: 42px
  
    & ~ .main aside
      left: -308px

    & ~ .main
      margin-left: 32px