.main
  margin-left: 340px
  
  aside
    position: fixed
    top: 0
    left: 0
    bottom: 0
    width: 340px
    background-color: pink
  
    .grid
      margin: 63px 32px
      background-color: yellow
        
  section
    width: 100%
    background-color: green

    .grid
      max-width: 860px
      padding: 135px 40px 135px 140px
      background-color: blue
      
