
$primary-font = 'Source Sans Pro'
$performance-font = 'Helvetica', 'Arial', sans-serif
$primary-font-size = 16px
$primary-font-line-height = 1.5em
$primary-font-light = 300
$primary-font-normal = 400
$primary-font-semibold = 600
$primary-font-bold = 700

primary-font(w)
  font-family: $primary-font, $performance-font
  font-weight: w
  line-height: $primary-font-line-height

html
  font-size: $primary-font-size

@font-face {
    font-family: 'icomoon';
    src:    url('//product_fonts/icomoon.eot?yy8rva');
    src:    url('/product/_fonts/icomoon.eot?yy8rva#iefix') format('embedded-opentype'),
        url('/product/_fonts/icomoon.ttf?yy8rva') format('truetype'),
        url('/product/_fonts/icomoon.woff?yy8rva') format('woff'),
        url('/product/_fonts/icomoon.svg?yy8rva#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-logo:before {
    content: "\e901";
    color: $primary;
}
.icon-linkedin:before {
    content: "\e900";
    color: $primary;
}
.icon-facebook:before {
    content: "\e902";
    color: $primary;
}
.icon-twitter:before {
    content: "\e90d";
    color: $primary;
}

